*,
*::before,
*::after {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.bg-block{
    background-color: rgba(192, 224, 96, 0.732);
    color: rgb(79, 94, 4);
}
.bg-block-2{
    background-color: antiquewhite;
}
.bg-block-3{
    background-color: rgba(122, 122, 56, 0.695);
}

.image{
    width: 350px;
}
.main-form{
    width: 75%;
}